<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="">A status</a></li>
    <!-- <li><a ng-href="/#/water">Listen</a></li> -->
    <li><a ng-href="/#/lightme">Light me</a></li>
  </ul>
  <h3 class="text-muted">cmmakerclub.com</h3>
</div>

<div class="body">
  <div class="add-status-warapper">

    <p>What do you feel now?</p>
  


    <div class="panel panel-default">
      <div class="panel-body">

        <p>Say</p>

        <div class="btn-group">
          <label type="button" class="btn btn-default" ng-click="printText('Hi')" >Hi</label>
          <label type="button" class="btn btn-default" ng-click="printText('TEDx')" >TEDx</label>
          <label type="button" class="btn btn-default" ng-click="printText('Chiang Mai')" >Chiang Mai</label>
          <label type="button" class="btn btn-default" ng-click="printText('BEER!')" >Beer!</label>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-xs-6 col-md-3">
        <a href="" class="thumbnail" ng-click="printImage('/img1')">
          <img data-src="holder.js/100%x180" alt="...">
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="" class="thumbnail" ng-click="printImage('/img2')">
          <img data-src="holder.js/100%x180" alt="...">
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="" class="thumbnail" ng-click="printImage('/img3')">
          <img data-src="holder.js/100%x180" alt="...">
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="" class="thumbnail" ng-click="printImage('/img4')">
          <img data-src="holder.js/100%x180" alt="...">
        </a>
      </div>
    </div> -->
    <form name="aform" ng-submit="addValue()">
      <div class="input-group">
        <input type="text" name="text" class="form-control" id="new-text" placeholder="release off" ng-model="newStatus" ng-maxlength="140" required ng-trim="true" ng-class="aform.text.$error.maxlength ? 'alert alert-danger' : ''"></input>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="addValue()">Send</button>
        </span>
      </div>
    </form>
  </div>
  <div class="item-container">
    <div class="item-wrapper" ng-repeat="statusItem in statusList | orderBy:'createAt':true" >
      <p class="item">{{statusItem.text}}</p>        
    </div>
  </div>
</div>

<div class="footer">
  <div class="slide-wrapper">
    <div ng-repeat="slide in slideText">
      <div slide-text a-text="slide.text"></div>
    </div>
  </div>
</div>
