<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="">Read</a></li>
    <li><a ng-href="/#/water">Listen</a></li>
  </ul>
  <h3 class="text-muted">A status</h3>
</div>

<div class="body">
  <div class="add-status-warapper">

    <form name="aform" ng-submit="addValue()">
      <p>What do you feel now?</p>
      <div class="input-group">
        <input type="text" name="text" class="form-control" id="new-text" placeholder="release off" ng-model="newStatus" ng-maxlength="140" required ng-trim="true" ng-class="aform.text.$error.maxlength ? 'alert alert-danger' : ''"></input>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="addValue()">Send</button>
        </span>
      </div>
    </form>
  </div>
  <div class="item-container">
    <div class="item-wrapper" ng-repeat="statusItem in statusList | orderBy:'createAt':true" >
      <p class="item">{{statusItem.text}}</p>        
    </div>
  </div>
</div>

<div class="footer">
  <div class="slide-wrapper">
    <div ng-repeat="slide in slideText">
      <div slide-text a-text="slide.text"></div>
    </div>
  </div>
</div>
